.*
*[~#]
*.[oa]
*.pyc
*.so
*.swap
*.patch
*.trs
*.log
bin
build
TAGS
whisperlib/base/test/lru_cache_test
whisperlib/base/test/strutil_test
whisperlib/http/test/failsafe_test
whisperlib/http/test/http_header_test
whisperlib/http/test/http_request_test
whisperlib/http/test/http_server_test
whisperlib/io/buffer/test/data_block_test
whisperlib/io/buffer/test/memory_stream_test
whisperlib/io/logio/test/logio_test
whisperlib/io/logio/test/recordio_test
whisperlib/net/test/address_test
whisperlib/net/test/dns_resolver_test
whisperlib/net/test/selectable_filereader_test
whisperlib/net/test/selector_test
whisperlib/net/test/udp_connection_test
whisperlib/rpc/test/rpc_test_client
whisperlib/rpc/test/rpc_test_server
whisperlib/url/test/url_test
whisperlib/rpc/RpcStats.pb.*
whisperlib/rpc/test/rpc_test_proto.pb.*
